
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 100vh;
}

  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
  }

  header {
    text-align: center;
  }

 

  h3 {
    margin-top: 0;
    font-size: 150%;
  }

  .course-form {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .input-group {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      width: 100%;
      max-width: 500px;
    }
      input{
        padding: 15px;
        font-size: 13px;
        border: 1px solid #838383;
        background-color: #ffffff;
        
      }

      :focus {
        outline: 0;
        border-color: #0bb928;
      }
    
      label {
        font-weight: bold;
        margin-bottom: 3px;
        margin-left: 16px;
      } 
      
      a{
        background-color: #bbdfc8;
        border: 1px solid #e4eff8;
        border-radius: 50px;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        align-self: center;
        width: 90%;
        font-size: 15px;
        margin-top: 12px;
        max-height: 15px;
      }
      button{ 
        background-color: #bbdfc8;
      }
     
     