<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/indexstyle.css" />
    <title><%= title %></title>
  </head>
  <body>
    <section class="wrapper">
      <div class="content">
        <header>
          <h1>Evaluate your course here!</h1>
          <img src="img/logo.PNG" alt="Logo" width="300px" height="200px">
          <br><br>
        </header>
    <section class="links-list">
        <div class="link-container">
          <a class="btn btn-primary" href="/signup" role="button">Sign Up (Student only)</a>
        </div>
        <div class="link-container">
          <a class="btn btn-primary" href="/signin" role="button">Sign In (Student only)</a>
        </div>
        <div class="link-container">
          <a class="btn btn-primary" href="/students" role="button">Display All The Students</a>
        </div>
        <div class="link-container">
          <a class="btn btn-primary" href="/submit_comments" role="button">Display Comments by Students</a>
        </div>
      </div>
    </section>
    </div>
  </section>