<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/liststyles.css">
    <title><%= title %></title>
  </head>
  <body>
    <br><br>
    <a href="http://localhost:3000"> Main Page</a>
   
    <header>
      <h1>List of all Students</h1>
    </header>
    <table class="table">
      <thead class ="thead-dark">
          
            <tr>
              <th scope="col">Email</th>
            </tr>
          
          <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].email %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
