<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link href="css/thankstyles.css" rel="stylesheet">
  </head>
  <body>
   <div class=content>
      <div class="wrapper-1">
        <div class="wrapper-2">
          <h1>Thank you ! <%= email %></h1>
          <br><br>
          <p>Your comments are well saved<%= comment %></p>
          <br><br> <br><br>
          <a href="http://localhost:3000"> Main Page</a>
        </div>
    </div>
    </div>